body {
    background-image: url('./assets/star.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
  }
  

  h1{
    color: #ffffff;
  }

.actor-img {
    height: 300px;
    object-fit: contain;
    width: 100%;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }

  .card-body {
    color: #ffffff; 
  }
  